* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif; }

html, body {
  height: 100%;
  text-rendering: optimizeLegibility !important; }

img {
  width: 100%; }

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%; }

.clear {
  clear: both; }

section.header-master {
  width: 100%;
  background-image: url("../imgs/bg_01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 760px; }

section.header-master header h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 600; }

header {
  border-bottom: 2px solid #d6d6d6; }

header > .container {
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0; }

div.logo a img {
  width: 166px;
  height: 64px; }

nav.desktop ul li {
  display: inline-block;
  margin: 0 20px; }

nav.desktop ul li:first-child {
  margin-left: 0; }

nav.desktop ul li:last-child {
  margin-right: 0; }

nav.desktop ul li a {
  color: #fff;
  font-weight: 400;
  font-size: 16px; }

nav.desktop ul li a.selected {
  color: #509d87;
  border-bottom: 2px solid #509d87; }

nav.mobile {
  display: none; }

nav.mobile ul {
  display: none;
  position: absolute;
  top: 106px;
  left: 0;
  width: 100%;
  text-align: center; }

nav.mobile ul li {
  background-color: white;
  padding: 15px 0;
  border-bottom: 2px solid #ccc;
  cursor: pointer; }

nav.mobile ul li a {
  color: #333; }

nav.mobile h2 i {
  color: white;
  font-size: 30px;
  cursor: pointer; }

section.header-master div.chamada {
  padding: 40px 0; }

section.header-master div.chamada > .container {
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

section.header-master div.chamada div.texto_chamada {
  width: 50%; }

section.header-master div.chamada div.texto_chamada h2 {
  color: #509d87;
  font-weight: normal;
  font-size: 34px; }

section.header-master div.chamada div.texto_chamada p {
  padding: 20px 0;
  font-weight: lighter;
  color: #333; }

section.header-master div.chamada div.texto_chamada div.btns_chamada form input {
  display: inline-block; }

section.header-master div.chamada div.texto_chamada div.btns_chamada form input[type=text] {
  width: 240px;
  height: 40px;
  border: 0;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  margin: 10px 0; }

section.header-master div.chamada div.texto_chamada div.btns_chamada form input[type=submit] {
  height: 40px;
  border: 0;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #00daaa;
  font-size: 16px;
  text-transform: uppercase; }

section.header-master div.chamada div.texto_chamada h5 {
  margin: 10px 0;
  color: #333;
  font-size: 18px;
  font-weight: lighter; }

section.header-master div.chamada div.imagens_chamada {
  width: 50%; }

section.header-master div.chamada div.imagens_chamada img {
  width: 240px;
  max-width: 100%;
  padding: 0 10px; }

section.beneficios > .container {
  max-width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

section.beneficios div.box_single {
  width: 33.3%;
  padding: 0 20px;
  margin-bottom: 40px;
  min-height: 300px;
  text-align: center; }

section.beneficios div.box_single > img {
  width: 50px;
  max-width: 100%;
  height: 50px; }

section.beneficios div.box_single h2 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: normal;
  color: #333;
  text-align: left; }

section.beneficios div.box_single h2 > b {
  color: #509d87; }

section.beneficios div.box_single p {
  margin-top: 10px;
  font-weight: lighter;
  text-align: justify;
  color: #2d2d2d; }

section.banner > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

section.banner img {
  width: 50%;
  height: 300px; }

section.banner div.texto_banner {
  width: 50%;
  max-width: 520px;
  padding: 0 20px;
  text-align: center; }

section.banner div.texto_banner h2 {
  color: #d2d2d2;
  font-size: 35px;
  font-weight: 500; }

section.banner div.texto_banner h2 > b {
  color: #00daaa;
  font-weight: 700; }

section.banner div.texto_banner p {
  color: #333;
  margin: 20px 0;
  font-weight: lighter;
  text-align: left; }

section.depoimentos {
  background-image: url("../imgs/bg_02.png");
  background-size: cover;
  width: 100%;
  padding-top: 180px;
  padding-bottom: 300px;
  position: relative;
  top: -10px; }

section.depoimentos div.single_depoimentos {
  text-align: center; }

section.depoimentos div.single_depoimentos h2 {
  color: #2d2d2d;
  font-size: 25px;
  font-weight: lighter; }

section.depoimentos div.single_depoimentos h4 {
  color: #2d2d2d;
  margin-top: 5px; }

section.etapas > .container {
  max-width: 960px; }

section.etapas h2 {
  text-align: center;
  font-weight: normal; }

section.etapas h2 b {
  color: #00daaa; }

section.etapas div.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

section.etapas div.flex div.etapa_01 {
  width: 50%;
  margin-top: 30px;
  padding: 0 40px; }

section.etapas div.flex div.etapa_01 div.single_etapas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  width: 100%;
  padding: 40px; }

section.etapas div.flex div.etapa_01 div.single_etapas img {
  width: 100px;
  height: 100px;
  border-radius: 50%; }

section.etapas div.flex div.etapa_01 div.single_etapas p {
  padding-left: 20px;
  font-weight: lighter;
  color: #509d87; }

section.etapas div.flex div.etapa_02 {
  width: 50%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px; }

section.etapas div.flex div.etapa_02 div.single_etapas02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

section.etapas div.flex div.etapa_02 div.single_etapas02 div.circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 2px solid #ccc;
  position: absolute; }

section.etapas div.flex div.etapa_02 div.single_etapas02 div.circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.line {
  position: relative;
  width: 2px;
  height: 45px;
  background-color: #333;
  left: 50%;
  top: -45px; }

section.etapas div.flex div.etapa_02 div.single_etapas02 div.texto_single_etapas02 {
  margin: 30px;
  margin-left: 90px; }

section.etapas div.flex div.etapa_02 div.single_etapas02 div.texto_single_etapas02 h3 {
  font-weight: normal; }

section.etapas div.flex div.etapa_02 div.single_etapas02 div.texto_single_etapas02 p {
  font-weight: lighter; }

section.diferencas {
  margin: 80px 0; }

section.diferencas h2 {
  color: #333;
  font-weight: normal; }

section.diferencas h2 > b:first-child {
  font-weight: bold;
  color: black; }

section.diferencas > .container {
  max-width: 860px;
  text-align: center; }

section.diferencas div.flex_diferencas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

section.diferencas div.flex_diferencas div.tradicional {
  width: 50%;
  border-right: 1px solid #ccc;
  padding: 0 20px; }

section.diferencas div.flex_diferencas div.tradicional h2 {
  color: #a9c4a9;
  font-weight: bold;
  margin-bottom: 10px; }

section.diferencas div.flex_diferencas div.tradicional ul li {
  color: #a9c4a9;
  margin: 10px 0;
  position: relative;
  display: inline-block; }

section.diferencas div.flex_diferencas div.tradicional ul li > span {
  width: 100%;
  height: 1px;
  background-color: red;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg); }

section.diferencas div.flex_diferencas div.invisalign {
  width: 50%;
  padding: 0 20px; }

section.diferencas div.flex_diferencas div.invisalign h2 {
  color: #509d87; }

section.diferencas b {
  color: #509d87; }

section.diferencas div.flex_diferencas div.invisalign ul li {
  color: #a9c4a9;
  margin: 20px 0;
  font-weight: lighter; }

section.diferencas div.flex_diferencas div.invisalign img {
  width: 169px; }

section.contato {
  background-color: #509d87;
  padding: 40px 0; }

section.contato > .container {
  max-width: 760px;
  text-align: center; }

section.contato h2 {
  color: #f2f2f2; }

section.contato ul {
  margin-top: 10px; }

section.contato ul li {
  font-weight: lighter;
  color: #f2f2f2; }

section.contato div.inputs_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto; }

section.contato div.inputs_group input {
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-weight: lighter;
  font-size: 16px; }

section.contato div.inputs_group textarea {
  height: 140px;
  resize: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-weight: lighter;
  font-size: 16px; }

section.contato input[type=submit] {
  padding: 10px 30px;
  border: 0;
  background-color: #ccc;
  color: white;
  width: 140px;
  cursor: pointer;
  float: right; }

footer {
  background-color: #333;
  padding: 30px;
  text-align: center; }

footer img {
  width: 166px;
  height: 64px; }

@media screen and (max-width: 1024px) {
  header > .container {
    padding: 20px 30px; }

  section.header-master div.chamada > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }

  section.header-master div.chamada div.texto_chamada {
    width: 100%; }

  section.header-master div.chamada div.imagens_chamada {
    width: 100%; }

  section.header-master div.chamada div.imagens_chamada img {
    width: 200px; } }
@media screen and (max-width: 960px) {
  nav.desktop {
    display: none; }

  header > .container {
    padding: 20px 30px; }

  nav.mobile {
    display: block; }

  section.banner > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  section.banner img {
    width: 100%; }

  section.banner div.texto_banner {
    width: 100%;
    margin-top: 20px; }

  section.etapas div.flex div.etapa_01 {
    width: 100%; }

  section.etapas div.flex div.etapa_01 div.single_etapas {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  section.etapas div.flex div.etapa_01 div.single_etapas img {
    width: 100px; }

  section.etapas div.flex div.etapa_02 {
    width: 100%; }

  section.etapas div.flex div.etapa_02 div.single_etapas02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  section.etapas div.flex div.etapa_02 div.single_etapas02 div.texto_single_etapas02 {
    margin: 30px 0; }

  section.etapas div.flex div.etapa_02 div.single_etapas02 div.circle {
    position: relative; }

  .line {
    display: none; } }
@media screen and (max-width: 768px) {
  section.beneficios div.box_single {
    width: 50%; }

  section.diferencas div.flex_diferencas div.tradicional {
    width: 100%;
    border-right: 0; }

  section.diferencas div.flex_diferencas div.tradicional ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  section.diferencas div.flex_diferencas div.tradicional ul li:last-child {
    border-bottom: 2px solid #ccc;
    padding-bottom: 60px; }

  section.diferencas div.flex_diferencas div.invisalign {
    margin-top: 40px;
    width: 100%; } }
@media screen and (max-width: 520px) {
  section.beneficios div.box_single {
    width: 100%;
    margin-bottom: 0; }

  section.beneficios div.box_single h2,
  section.beneficios div.box_single p {
    text-align: center; } }
@media screen and (max-width: 460px) {
  section.header-master div.chamada div.imagens_chamada {
    display: none; } }
